
.App-header {
  height: 70px; 
  display: flex;
  align-items: center; 
}

.kanban-board {
  display: flex;
  gap: 10px;
  background-color: rgba(234, 234, 248, 0.484);
  padding: 35px;
}

.kanban-column {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
}
.kanban-column h4{
  color: gray;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 7px;
  

}
.kanban-column h5 {
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 0px;
}

.kanban-card {
  background-color: white; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  margin-bottom: 16px; 
}

.kanban-card h5 {
  display: -webkit-box;           
  -webkit-line-clamp: 2;          
  -webkit-box-orient: vertical;   
  overflow: hidden;               
  text-overflow: ellipsis;        
  max-width: 200px;               
}






.add-card-btn {
  width: 32px;
  height: 32px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.dropdown {
  width: 150px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 170px;
  top: 50px;
  right: 10px;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown h5 {
  margin: 0 0 8px;
  color: gray;
}

.dropdown select {
  margin-bottom: 10px;
  display: block;
  width: 100px;
  height: 25px;
  color: rgb(0, 0, 0);
}

.display-button {
  display: flex;
  align-items: center;
  border: none; 
  border-radius: 4px; 
  padding: 8px; 
  cursor: pointer; 
  margin-left: 40px;
  
}

.display-icon {
  width: 17px; 
  height: 17px; 
  margin-right: 8px; 
}

.display-button-label {
  font-size: 16px; 
  font-weight: 600;
  color: #333; 

}


.tag {
  margin-top: 10px;
  margin-left: 7px;
  display: inline-block;
  padding: 5px 10px;
  color: gray; 
  background-color: rgb(242, 240, 240);
  border-radius: 3px; 
  margin-right: 5px; 
  font-size: 14px; 
}
